## Little Lemeon - Meta Database Engineer Capstone Project

## Prerequisites: 

Please run the **Prerequisites.ipynb** befor running this notebook

In [1]:
# Import the connector under the alias connector:
import mysql.connector as connector

In [7]:
# Create the connection
connection = connector.connect(user = "root", password = "", database="little_lemon")

In [8]:
# create the cursor
cursor=connection.cursor()

In [9]:
# showing tables in the DB
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()

for table in results:
    print(table)

('Customers',)
('Orders',)

In [11]:
# customer join query
customer_query = """
SELECT 
    c.FirstName AS FirstName,
    c.LastName AS LastName,
    c.Email AS Email,
    c.PhoneNumber AS Phone,
    c.Address AS Address,
    c.Country AS Country,
    c.City AS City,
    o.TotalCost AS Cost
FROM
    Customers as c
INNER JOIN Orders as o ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60
ORDER BY o.TotalCost DESC;
"""

cursor.execute(customer_query)
results = cursor.fetchall()

print('Printing customers information who spent more than $60 ...')

for customer in results:
    print('=' * 50)
    print(f'First Name: \t {customer[0]}')
    print(f'Laste Name: \t {customer[1]}')
    print(f'Email: \t\t {customer[2]}')
    print(f'Phone Number: \t {customer[3]}')
    print(f'Address: \t {customer[4]}')
    print(f'Country: \t {customer[5]}')
    print(f'City: \t\t {customer[6]}')
    print(f'Has spent: \t {float(customer[7])}')

Printing customers information who spent more than $60 ...
==================================================
First Name: 	 John
Laste Name: 	 Doe
Email: 		 john.doe@example.com
Phone Number: 	 1234567890
Address: 	 123 Main St
Country: 	 USA
City: 		 New York
Has spent: 	 100.0
==================================================
First Name: 	 Jane
Laste Name: 	 Doe
Email: 		 jane.doe@example.com
Phone Number: 	 0987654321
Address: 	 456 Main St
Country: 	 USA
City: 		 Los Angeles
Has spent: 	 100.0
==================================================
First Name: 	 Alice
Laste Name: 	 Smith
Email: 		 alice.smith@example.com
Phone Number: 	 1112223333
Address: 	 789 Main St
Country: 	 USA
City: 		 Chicago
Has spent: 	 100.0
==================================================
First Name: 	 Bob
Laste Name: 	 Johnson
Email: 		 bob.johnson@example.com
Phone Number: 	 4445556666
Address: 	 321 Main St
Country: 	 USA
City: 		 Houston
Has spent: 	 100.0
==================================================
First Name: 	 Charlie
Laste Name: 	 Brown
Email: 		 charlie.brown@example.com
Phone Number: 	 7778889999
Address: 	 654 Main St
Country: 	 USA
City: 		 Philadelphia
Has spent: 	 100.0
==================================================
First Name: 	 David
Laste Name: 	 Williams
Email: 		 david.williams@example.com
Phone Number: 	 0001112222
Address: 	 987 Main St
Country: 	 USA
City: 		 Phoenix
Has spent: 	 100.0
==================================================
First Name: 	 Eve
Laste Name: 	 Jones
Email: 		 eve.jones@example.com
Phone Number: 	 3334445555
Address: 	 246 Main St
Country: 	 USA
City: 		 San Antonio
Has spent: 	 100.0
==================================================
First Name: 	 Frank
Laste Name: 	 Miller
Email: 		 frank.miller@example.com
Phone Number: 	 6667778888
Address: 	 135 Main St
Country: 	 USA
City: 		 San Diego
Has spent: 	 100.0
==================================================
First Name: 	 Grace
Laste Name: 	 Davis
Email: 		 grace.davis@example.com
Phone Number: 	 9990001111
Address: 	 864 Main St
Country: 	 USA
City: 		 Dallas
Has spent: 	 100.0
==================================================
First Name: 	 Henry
Laste Name: 	 Garcia
Email: 		 henry.garcia@example.com
Phone Number: 	 2223334444
Address: 	 753 Main St
Country: 	 USA
City: 		 San Jose
Has spent: 	 100.0